<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>

    {#Typeform SECTION#}
    {%   if formType == 'movies' %}
    <h1>MOVIES</h1>
        <h3>Add movie</h3>
        <form action="/submit/add/movies" method="post">
         Movie name:<br>
            <input type="text" name="movieName" value=""><br><br>
         Movie year:<br>
            <input type="number" min="0" name="movieYear" value=""><br><br>
         <input type="submit" value="Submit">
     </form>






        <h3>Update movie</h3>
        <form action="/submit/update/movies" method="post">
        <select name ="idMovie" >
            {% for movies in list %}
            <option value="{{ movies.0 }} {{ movies.1 }}"> {{ movies.1 }}</option>
            {% endfor %}
        </select>
        <br>
         Movie name:<br>
            <input type="text" name="movieName" value=""><br><br>
         Movie year:<br>
            <input type="number" min="0" name="movieYear" value=""><br><br>
         <input type="submit" value="Submit">
     </form>






        <h3>Delete movie</h3>
        <form action="/submit/delete/movies" method="post">
         Movie name:<br>
            <input type="text" name="movieName" value=""><br><br>
         Movie year:<br>
            <input type="number" min="0" name="movieYear" value=""><br><br>
         <input type="submit" value="Submit">
        </form>
        <br>
        <h3>LIST OF MOVIES </h3><br>
     {% for movies in list %}
            <span>{{ movies.0 }} {{ movies.1 }} {{ movies.2 }} </span><br />
     {% endfor %}






    {#GENRE SECTION#}
    {% elif formType == 'genres' %}
        <h1>GENRES</h1>
        <h3>Add Genre</h3>
    <form action="/submit/add/genres" method="post">
         Movie ID:
            <select name="Movie_idMovie">
                     {% for movies in list %}
                <option value="{{ movies.0 }} {{ movies.1 }} "> {{ movies.1 }} </option>
                     {% endfor %}
            </select>
            <br>Genre Name:
            <input type="text" name="Genre" value=""><br><br>
            <br>
            <input type="submit" value="Submit">
    </form>



        <h3>Delete Genre</h3>
           <form action="/submit/delete/genres" method="post">
         Genre name:<br>
            <input type="text" name="Genre" value=""><br><br>
         MovieID:<br>
            <input type="number" name="Movie_idMovie" value=""><br><br>
         <input type="submit" value="Submit">
     </form>


    {% for genre in list %}
            <span>{{ genre.0 }}  </span><br />
     {% endfor %}








    {% elif formType == 'rooms' %}
        <h1>Room</h1>
        <h3>Add Room</h3>
            <form action="/submit/add/rooms" method="post">
                 Room number:
                    <br>
                    <input type="text" name="RoomNumber" value=""><br>
                Capacity:
                    <br>
                    <input type="text" name="Capacity" value="">
                    <br>
                    <input type="submit" value="Submit">
            </form>



                <h3>Delete Genre</h3>
                   <form action="/submit/delete/genres" method="post">
                 Genre name:<br>
                    <input type="text" name="Genre" value=""><br><br>
                 MovieID:<br>
                    <input type="number" name="Movie_idMovie" value=""><br><br>
                 <input type="submit" value="Submit">
             </form>


        Room number || Capacity <br>
            {% for room in list %}
                    <span>{{ room.0 }}  {{ room.1  }}</span><br />
             {% endfor %}

    {% endif %}

{#     <form action="/submit" method="post">#}
{#     First name:<br>#}
{#     <input type="text" name="firstname" value=""><br>#}
{#     Last name:<br>#}
{#     <input type="text" name="lastname" value=""><br><br>#}
{#         Email:<br>#}
{#     <input type="text" name="email" value=""><br><br>#}
{#         Sex (M/F):<br>#}
{#     <input type="text" name="sex" value=""><br><br>#}
{#     <input type="submit" value="Submit">#}
{# </form>#}






</head>
<body>

</body>
</html>