<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <h1>Front-End</h1>
    <ul>
        <li>
           <a href="/movies">Movies </a>
        </li>
        <li>
            <a href="/entername">Genres </a>
        </li>
        <li>
            <a href="/entername">Rooms </a>
        </li>
        <li>
            <a href="/entername">Showings </a>
        </li>
        <li>
            <a href="/entername">Customers </a>
        </li>
        <li>
            <a href="/entername">Attend </a>
        </li>
    </ul>



     <h1>Back-End</h1>
    <ul>
        <li>
           <a href="/movies">Movies </a>
        </li>
        <li>
            <a href="/entername">Genres </a>
        </li>
        <li>
            <a href="/entername">Rooms </a>
        </li>
        <li>
            <a href="/entername">Showings </a>
        </li>
        <li>
            <a href="/entername">Customers </a>
        </li>
        <li>
            <a href="/entername">Attend </a>
        </li>
    </ul>


</head>
<body>

</body>
</html>