<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <a href="/">Home </a>
    <title>Home page</title>
    <h1>Front-End</h1>
    {%  if formType %}
        {{ actionType }} {{  formType  }} succesfully with {{ test }}
    {% endif %}
    <ul>
        <li>
           <a href="/back-end/movies">Movies </a>
        </li>
        <li>
            <a href="/back-end/genres">Genres </a>
        </li>
        <li>
            <a href="/back-end/rooms">Rooms </a>
        </li>
        <li>
            <a href="/back-end/showings">Showings </a>
        </li>
        <li>
            <a href="/back-end/customers">Customers </a>
        </li>
        <li>
            <a href="/back-end/attend">Attend </a>
        </li>
    </ul>



     <h1>Back-End</h1>
    <ul>
        <li>
           <a href="/movies">Movies </a>
        </li>
        <li>
            <a href="/entername">Genres </a>
        </li>
        <li>
            <a href="/entername">Rooms </a>
        </li>
        <li>
            <a href="/entername">Showings </a>
        </li>
        <li>
            <a href="/entername">Customers </a>
        </li>
        <li>
            <a href="/entername">Attend </a>
        </li>
    </ul>


</head>
<body>

</body>
</html>